.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.about-card {
  background-color: #539ff123;
  padding: 20px;
  border-radius: 8px;
}

.about-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #539ff123;
  padding: 20px;
  border-radius: 8px;
}

.about-photo img {
  width: 300px;  /* Ограничение по ширине */
  height: 300px; /* Ограничение по высоте */
  object-fit: cover; /* Обрезка изображения, чтобы сохранить пропорции */
  border-radius: 8px;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #539ff123;
  color: rgb(2, 2, 2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}