<div class="about-container">
  <!-- Первая карточка с текстом -->
  <div class="about-card">
    <h1>О себе - Лазарев Михаил</h1>
    <p>Меня зовут Михаил. Я учусь в магистратуре ФИИТ СГАУ на кафедре Программных систем.</p>
    
    <h2>Интересы:</h2>
    <ul>
      <li>Тестирование</li>
      <li>Геймдев</li>
      <li>Искусственный интеллект</li>
    </ul>

    <h2>Опыт:</h2>
    <ol>
      <li>Стажировка QA Gamedev</li>
      <li>Курс Big Data</li>
      <li>Опенсорс</li>
    </ol>
  </div>

  <!-- Первая карточка с фотографией -->
  <div class="about-photo">
    <img src="assets/person1-photo.jpg" alt="Фотография" />
  </div>

  <!-- Вторая карточка с текстом -->
  <div class="about-card">
    <h1>О себе - Дьяконов Александр</h1>
    <p>Меня зовут Александр. Я учусь в магистратуре ФИИТ СГАУ на кафедре Программных систем.</p>
    
    <h2>Интересы:</h2>
    <ul>
      <li>Бизнес-аналитика</li>
      <li>Программная инженерия</li>
      <li>IT-Технологии</li>
    </ul>

    <h2>Опыт:</h2>
    <ol>
      <li>Буткэмп</li>
      <li>Обучение бизнес анализу</li>
      <li>Работа бизнес-аналитиком</li>
    </ol>
  </div>

  <!-- Вторая карточка с фотографией -->
  <div class="about-photo">
    <img src="assets/person2-photo.jpg" alt="Фотография" />
  </div>
</div>

<button (click)="goToGroup()">Перейти к моей группе</button>